<!DOCTYPE html>
<html>
    <head>
        <title>
          {% block title %}
          {% endblock %}
        </title>

        <style>
            td {
                padding-top: 10px;
                padding-bottom: 1px; 
                padding-left: 40px; 
                padding-right: 40px;  
                border: 1px black solid;
            }
        </style>
    </head>

    <body>
        <table>
            <td>
                <a href="{% url 'home' %}">
                    <span>Home</span>
                </a>
            </td>
            <td>
                <a href="{% url 'index' %}">
                    <span>Pagination</span>
                </a>
            </td>
        </table>
        <!-- Changing content will go here - starts -->


        <div>

            {% block content %}

            {% endblock %}

        </div>

        <!-- Changing content will go here - ends -->

    </body>
    </html>