{% extends 'base.html' %}

{% block title %}
Home        
{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
    <div>
        <div class="container pt-4">
      
          <div class="row p-0 mt-4">
            <div class="col-lg-4 mx-auto shadow p-0">
              <div class="alert alert-info">
                  <h3>Employee Information</h3>
              </div>
              <div class="p-4">
                  <form action="/" method="post">
                      {% csrf_token %}
                      {{form.as_p}}
                      <hr>
                      <input type="submit" value="Submit" class="btn btn-info">
                  </form>
              </div>
            </div>     
      
            <div class="col">
              <div class="border">
                {% if employees|length == 0 %}
                  <div class="p-4">
                    <br />
                    <br />
                    <div class="alert alert-info text-center">
                      <p class="" style="font-size: 30px;">
                        No Employees
                      </p>
                    </div>
                    <br />
                  </div>
                {% else %}
                  <div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            #
                          </th>
                          <th>
                            Employee Name
                          </th>
                          <th>
                            Employee Email
                          </th>
                          <th>
                            Employee Adder 
                          </th>
                          <th>
                            Employee Salary
                          </th>                                     
                        </tr>
                      </thead>
      
                      <tbody>
                          {% for employee in employees %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{employee.emp_name}}</td>
                            <td>{{employee.emp_email}}</td>
                            <td>{{employee.emp_adder}}</td>
                            <td>{{employee.emp_salary}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      
</body>
{% endblock %}
