{% extends 'base.html' %}

{% block title %}
Index          
{% endblock %}

{% block content %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Empname</th>
        <th>Empemail</th>
        <th>Empadder</th>
        <th>Empsalary</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.emp_name}}</td>
          <td>{{ user.emp_email}}</td>
          <td>{{ user.emp_adder }}</td>
          <td>{{ user.emp_salary}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% if users.has_other_pages %}
    <ul class="pagination">
      {% if users.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in users.paginator.page_range %}
        {% if users.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if users.has_next %}
        <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}